<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" lang="EN">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div class="topnav">
        <div class="nav-bar">
            <a href="movies">Movies</a>
            <a class="active" href="home">Home</a>
            <a href="series">Series</a>
        </div>
    </div>

    {%block main %} 
    {%endblock%}

    <div class="footer">
        <div id="footer-items">
            <a href="http://themoviedb.org">
                <img src="https://www.themoviedb.org/static_cache/v4/logos/powered-by-rectangle-blue-61ce76f69ce1e4f68a6031d975df16cc184d5f04fa7f9f58ae6412646f2481c1.svg">
            </a>
        </div>
    </div>
    

</body>

</html>